#canvas {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px; /* Adjust the size according to your preference */
  letter-spacing: -1px;
  padding: 0px;
}
#vbox {
  margin: 10px;
}
#button {
  margin-top: 10px;
  margin-bottom: 10px;
}
#chb {
  margin-bottom: 10px;
}
#ACB {
  margin-left: 20px;
  margin-bottom: 10px;
}
#CTD {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 10px;
}
#IDXL {
  background-color: #5c5c5c;
  padding: 0px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 10px;
}
